ErrorDocument 403 /404.html
ErrorDocument 404 /404.html

DirectoryIndex index.html

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} /robots.txt
RewriteCond "%{DOCUMENT_ROOT}/robots_%{HTTP_HOST}.txt" -f
RewriteRule ^(.*)$ robots_%{HTTP_HOST}.txt [NC,L]
RewriteRule ^about$ about.html [NC]
RewriteRule ^about/$ about.html [NC]

RewriteRule ^contact$ contact.html [NC]
RewriteRule ^contact/$ contact.html [NC]

RewriteRule ^contacts$ contacts.html [NC]
RewriteRule ^contacts/$ contacts.html [NC]

RewriteRule ^index$ index.html [NC]
RewriteRule ^index/$ index.html [NC]

RewriteRule ^water-purification$ water-purification.html [NC]
RewriteRule ^water-purification/$ water-purification.html [NC]

RewriteRule ^water-treatment$ water-treatment.html [NC]
RewriteRule ^water-treatment/$ water-treatment.html [NC]

RewriteRule ^reagents$ reagents.html [NC]
RewriteRule ^reagents/$ reagents.html [NC]


